Django==5.2.1
django-widget-tweaks==1.5.0
celery==5.3.4
redis==5.0.1
gunicorn==21.2.0
psycopg2-binary==2.9.9
python-decouple==3.8
dj-database-url==2.1.0
whitenoise==6.6.0
yt-dlp==2025.05.22
requests==2.31.0
kombu==5.3.4
billiard==4.2.0
vine==5.1.0
click==8.1.7
click-didyoumean==0.3.1
click-plugins==1.1.1
click-repl==0.3.0
amqp==5.2.0 
psycopg2==2.9.10