amqp==5.2.0
asgiref==3.8.1
billiard==4.2.0
boto3==1.38.21
botocore==1.38.21
Brotli==1.1.0
celery==5.3.4
certifi==2025.4.26
charset-normalizer==3.4.2
click==8.1.7
click-didyoumean==0.3.1
click-plugins==1.1.1
click-repl==0.3.0
cron-descriptor==1.4.5
dj-database-url==2.1.0
Django==5.2.1
django-celery-beat==2.8.1
django-extensions==4.1
django-guardian==3.0.0
django-taggit==6.1.0
django-timezone-field==7.1
django-widget-tweaks==1.5.0
dnspython==2.7.0
eventlet==0.40.0
greenlet==3.2.2
gunicorn==21.2.0
idna==3.10
jmespath==1.0.1
kombu==5.3.4
mutagen==1.47.0
packaging==25.0
prompt_toolkit==3.0.51
psycopg2==2.9.10
psycopg2-binary==2.9.9
pycryptodomex==3.23.0
python-crontab==3.2.0
python-dateutil==2.9.0.post0
python-decouple==3.8
python-dotenv==1.1.0
redis==5.0.1
requests==2.31.0
s3transfer==0.12.0
six==1.17.0
sqlparse==0.5.3
typing_extensions==4.13.2
tzdata==2025.2
urllib3==2.4.0
vine==5.1.0
wcwidth==0.2.13
websockets==15.0.1
whitenoise==6.6.0
yt-dlp==2025.5.22
Pillow==11.2.1